<span>To do list:</span>
<mat-card class="todocard">
  <mat-list role="list">
    <mat-toolbar class="todoitem" color="primary">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <mat-icon class="btn"> check</mat-icon>
        <mat-icon class="btn"> undo</mat-icon>

        <mat-icon class="btn"> edit</mat-icon>
        <mat-icon class="btn">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>
  <form class="example-form">
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Enter To do"
        class="textareafull"
        name="inputValue"
      />
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-button>Add</button>
    <button mat-button>Save</button>
  </form>
</mat-card>
