<span>To do list:</span>
<mat-card>
  <div [formGroup]="todoForm">
    <mat-form-field class="full-width">
      <input
        matInput
        formControlName="todo"
        placeholder="Enter To do"
        class="textareafull"
        name="inputValue"
      />
    </mat-form-field>
    <span class="example-spacer"></span>
    <button
      mat-button
      [disabled]="todoForm.invalid"
      (click)="addItem()"
      color="primary"
    >
      Add
    </button>
  </div>

  <mat-toolbar
    *ngFor="let todo of todos | async; let i = index"
    color="primary"
  >
    <span>{{ todo.value }}</span>

    <span class="example-spacer"></span>
    <mat-icon class="btn" (click)="deleteItem(todo.id)"> delete </mat-icon>
  </mat-toolbar>
</mat-card>
