.random-btn {
  width: 50vw;
}

.score {
  font-weight: 700;
  justify-content: center;
  align-self: center;
  padding: 0 1rem;
  content: ' ';
}

.mat-mdc-card {
  display: flex;
  flex-flow: row;
}

.positive {
  color: green;
  content: ' ';
}
.positive::after {
  content: 'Generate lower number';
  color: green;
}
.negative {
  color: red;
  content: ' ';
  
}
.negative::after {
  content: 'Generate uppper number';
  color: red;
}
