<mat-card mat-table>
  <mat-card-content>
    <ng-container>Random component (max={{ max }})</ng-container>
    <span class="score">{{ randomNumber }}</span>
    <p
      class="text"
      *ngIf="showit"
      [ngClass]="randomNumber < (max*0.5) ? 'positive' : 'negative'"
    ></p>
    <div class="timeline-item"></div>
    <button
      mat-raised-button
      class="random-btn"
      (click)="generateRandomNumbers()"
      color="primary"
    >
      Losuj
    </button>
  </mat-card-content>
</mat-card>
