.random-btn {
  width: 50vw;
}

.score {
  font-weight: 700;
  justify-content: center;
  align-self: center;
  padding: 0 1rem;
}

.mat-mdc-card {
  display: flex;
  flex-flow: row;
}
