@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.btn {
  cursor: pointer;
}
.full-width {
  width: 80%;
  margin-top: 20px;
  padding-right: 10px;
}

.main-text {
  font-weight: 700;
}

* {
  font-family: 'Courier New', Courier, monospace;
}
@media (min-width: 800px) {
  .mdc-card {
    margin: 3vw 10vw;
  }
}
.mat-mdc-card-content,
.mdc-card {
  border: 2px solid black;
}
.mdc-card {
  margin-top: 10px;
}
