@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.btn {
  cursor: pointer;
}
.full-width {
  width: 80%;
  margin-top: 20px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}
.main-text {
  font-weight: 700;
}
